@font-face {
    font-family: chinese rock Regular;
    src: url(./fonts/CHINESER.TTF);
    font-display: swap;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color :rgb(0, 0, 0);
    font-family: Arial;
    font-family: chinese rock Regular;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul {
    list-style-type: none;
}
/*NAVBAR*/
#surface{
    position: fixed;
    top: 45px;
    font-family: chinese rock Regular;
    width: 100dvw;
    
    overflow-x:hidden;
    visibility: hidden;
    
}


.link{
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: min-content;
    height: 90dvh;
    font-size: 35px;
    color:rgb(204, 204, 204);
    overflow-y: scroll;
    
    background-color: rgba(0, 0, 0, 0.89);
    box-shadow: 10px 2px 30px 10px rgb(0, 0, 0);
    
}


/* Hide scrollbar for Chrome, Safari and Opera */
.link::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.link {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.link-opt{
    margin-top:10px;
    margin-right: 30px;
    position: relative;
    z-index: 22;
}


.option{
    padding: 0px 10px 10px 50px;  
    position: relative;
    cursor: pointer;
}
.submenu{
    padding: 0px 10px 10px 50px; 
    cursor: pointer; 
}
.option::before{
    content: 'X';
    visibility :hidden;
    font-weight: bolder;
    position: absolute;
    left: 20px;
    top:-6px;
    color: white;
    margin-right: 100px;
    font-size: 35px;
    font-family: 'Indie Flower';
    transition: all ease 0.01s;
    
    
}
.option:hover{
    color: rgba(255, 0, 0, 0.789);
    cursor: pointer;
    
    
}
.option:hover::before{
    visibility: visible;
    color: rgba(255, 0, 0, 0.789);
    
}
.home{
    padding: 0px 10px 10px 50px;  
    position: relative;
    color: rgba(255, 0, 0, 0.789);
    cursor: pointer;
}

.home::before{
    content: 'X';
    position: absolute;
    font-weight: bolder;
    left: 20px;
    top:-6px;
    color: rgba(255, 0, 0, 0.789);
    margin-right: 100px;
    font-size: 35px;
    font-family: 'Indie Flower';
    
}
.option2{
    padding: 0px 10px 10px 80px;
    position: relative;
    cursor: pointer;
   
}
.option2::before{
    content: 'X';
    visibility :hidden;
    position: absolute;
    font-weight: bolder;
    left: 50px;
    top:-6px;
    color: white;
    margin-right: 100px;
    font-size: 35px;
    font-family: 'Indie Flower';
    transition: all ease 0.01s;
}
.option2:hover{
    color: rgba(255, 0, 0, 0.789);
    cursor: pointer;
}
.option2:hover::before{
    visibility: visible;
    color: rgba(255, 0, 0, 0.789);
}
.nav-footer{ 
    display: inline;
    cursor: pointer;
    z-index: 22;
}
.nav-footer li{
    display: inline;
    margin: 0px -30px 0px 50px;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(192, 192, 192);
    
}
.nav-footer:hover{
    color: rgb(255, 252, 252);
    
}
#lang{
    background-color: black;
    color: rgb(192, 192, 192);
    border: 0px;
    font-family: chinese rock Regular;
}
main{
    position: relative;
    z-index: -1;
}
#hero-section{
    position: absolute;
    top: 40px;
    filter:none;
    transition:all ease-in-out 0.3s;

}
#hero-section>img{
    width: 100%;
    height: auto;
    
}
/*HEADER*/
header{
    position: fixed;
    color: white;
    font-family: chinese rock Regular;
}
#head{
    width: 100vw;
    height: 45px;
    display: flex;
    background-color: black;
    position: absolute;
    z-index: 5;
}
.material-symbols-outlined{ 
    margin: 10px 10px 1px 10px;
    cursor: pointer; 
    
}
.material-symbols-outlined::after{
    content: 'RED DEAD REDEMPTION 2';
    position: absolute;
    top:7px;
    
    font-family: chinese rock Regular;
    margin: 4px 10px 15px 10px;
    cursor: pointer;
    font-size: 23px;
}
.material-symbols-outlined:hover{color: rgba(255, 0, 0, 0.789);}
.material-symbols-outlined:hover::after{
    color: rgba(255, 0, 0, 0.789);
}
.right{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./../ASSET/button-bg.png);
    padding: 10px 35px 10px 35px;
    border-bottom: 1px solid black;
}
.right>a{ 
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px
}



@media screen and (max-width: 700px) {
    
    .link{
        transition: all ease 0.3s;
        font-size: 25px;
    }
    .material-symbols-outlined::after{
        transition: all ease 0.3s;
        content: '';
    }
    .right{
        transition: all ease 0.3s;
        padding: 10px 15px 18px 15px;

    }
    .right>a{
        transition: all ease 0.3s;
        font-size: 15px
    }
    #hero-section>img{
        content: url(./ASSET/hero-section-mobile.png);
        width: 100vw;
    }
    .home::before{
        transition: all ease 0.3s;
        font-size: 25px;
        margin-right: 60px;
    }
    .option::before{
        transition: all ease 0.3s;
        font-size: 25px;
        margin-right: 60px;
    }
    .option2::before{
        transition: all ease 0.3s;
        font-size: 25px;
        margin-right: 60px;
    }

  }
  @media screen and (max-height:601px) {
    .nav-bg>img{
        height: 120dvh;
    }
    
}
